.Wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.App {
  text-align: center;
  width: 400px;
  padding-bottom: 25px;
  background: linear-gradient(to top, lavender, lightcyan);
  border-radius: 5px 50px ;
  border: 5px outset rebeccapurple;
}

button {
  margin-right: 5px;
  padding: 5px 15px;
  border: 2px solid rebeccapurple;
  border-radius: 2px 10px;
  background-color: aliceblue;
}

.Stopwatch-box {
  background-color: aliceblue;
}

h2 {
  font-size: 28px;
}